{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "__DEV__": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "settings": {
    "propWrapperFunctions": [ "forbidExtraProps" ]
  },
  "rules": {
    "semi": "off",
    "react/jsx-uses-vars": "error",
    "no-plusplus":"off",
    "class-methods-use-this": "off",
    "jsx-quotes": "error",
    "react/jsx-curly-spacing": "error"
  }
}
