$black: #000;
$black-1: #222;
$black-2: #333;
$black-3: #444;
$black-4: #555;
$black-opacity: rgba(0,0,0, .7);
$error: #ee1010;
$gray: #888;
$green: #0dd215;
$green-dark: #4CAF50;
$green-light: #33ff00;
$white: #fff;
