$green: #4CAF50;
$dark-green: #0dd215;
$light-green: #33ff00;
$match: $green;
$opacity-black: rgba(0,0,0, .7);
$black: #333;
$dark-black: #222;
$light-black-1: #888;
$light-black-2: #555;
$light-black-3: #444;
$error: #ee1010;
$white: #fff;
