@import './colors.scss';
@import url('https://fonts.googleapis.com/css?family=Play|Press+Start+2P|Titillium+Web');

body {
  color: $white;
  font-family: 'Press Start 2P', cursive;
  margin: 0;

  button {
    font-family: 'Press Start 2P', cursive;
  }

  .hide {
    display: none !important;
  }

  .game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient($black, $dark-black);
    min-height: 100vh;
    height: 100%;

    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $opacity-black;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__title {
      color: $white;
      text-align: center;
    }

    &__win {
      width: 50%;
      text-align: center;
      background: $dark-black;
      border: 3px solid $green;
      padding: 30px;

      @media (max-width: 770px) {
        width: 70%;
      }

      &__text {
        @media (max-width: 770px) {
          font-size: 16px;
        }
      }

      &__subtext {
        @media (max-width: 770px) {
          font-size: 14px;
        }
      }
    }

    .error {
      color: $error;
    }

    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      min-width: 200px;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:active {
        transform: translateY(4px);
    }
    }

    .rules {
      max-width: 500px;
      padding: 20px;
      line-height: 1.7;
      position: absolute;
      z-index: 2;
      background: #222;
      border: 5px solid #4CAF50;
      top: 50%;
      transform: translateY(-50%);

      &__title {
        text-align: center;
      }

      &__item {
        margin: 30px 0;
      }

      .button {
        color: $black;
        margin: 0 auto;
        display: block;

        &:active {
          transform: translateY(4px);
        }
      }

      &__objective {
        text-align: center;
      }

      &__attention {
        color: $error;
      }

      &__close {
        color: $green;
      }

      &__match {
        color: $light-green;
      }
    }


    .pw-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      .lock {
        height: 60px;
        width: 300px;
        background: url('../assets/images/lock.png') center no-repeat;
        background-color: $light-black-1;
        position: absolute;
        top: 0;
        opacity: 1;
        transition: opacity .1s ease-out;
      }

      &__button {
        background-color: $light-black-2;
        font-size: 12px;
        transition: background-color .2s ease;
        margin-top: 30px;

        &:hover {
          background-color: #444;
        }
      }
    }

    .numbers-container {
      display: flex;
      justify-content: space-between;
      padding: 0;
      flex-wrap: wrap;
      max-width: 430px;
    }

    .number {
      list-style: none;
      width: 20px;
      height: 20px;
      margin: 10px;
      padding: 20px;
      border-radius: 3px;
      background-color: $light-black-2;
      text-align: center;
      border: 2px solid $light-black-1;

      @media (max-width: 500px) {
        margin: 5px
      }
    }

    .disabled {
      background-color: $light-black-3;
    }

    .attempt {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 30px;
      text-align: center;

      &__button {
        background-color: $green;
        margin-bottom: 20px;
        margin-top: 20px;
      }

      &__number[type=number] {
        -webkit-appearance: none;
        border: none;
        border-bottom: 2px solid $white;
        border-radius: 0;
        padding: 10px;
        font-size: 30px;
        background-color: transparent;
        color: $white;
        font-family: 'Press Start 2P', cursive;
        max-width: 150px;
        transition: border-color .2s ease;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input:focus {
        outline: none;
        border-color: $green;
      }

      &__list {
        list-style-type: none;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
      }

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $light-black-1;
        padding: 0 20px;

        .report__close {
          color: $green;
        }

        .report__match {
          color: $light-green;
        }
      }
    }
  }
}
